<a href="https://colab.research.google.com/github/AuliaInsanii/FromColab/blob/main/Pertemuan3_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Contoh 1:

In [ ]:
import pandas as pd
df1 = pd.read_csv('bensin.csv')
df1

    Liter  Kilometer
0      20      142.0
1      25      177.0
2      20      144.0
3      30      203.0
4      40      273.0
..    ...        ...
60     31      203.0
61     37      241.0
62     23      142.0
63     36      241.0
64     23      142.0

[65 rows x 2 columns]

In [ ]:
df1.describe()

           Liter   Kilometer
count  65.000000   65.000000
mean   26.446154  181.064615
std     7.424686   49.741763
min     6.000000   32.000000
25%    23.000000  144.000000
50%    25.000000  177.000000
75%    30.000000  212.000000
max    45.000000  278.000000

Memisahkan training data dan testing data 

*   test_size = 0.2 berati 20% data test, dan sisanya 80% itu data training.

In [ ]:
import numpy as np
import sklearn.model_selection as ms
liter = df1[['Liter']]
kilometer = df1[['Kilometer']]
X_train, X_test, y_test, y_train = ms.train_test_split(liter, kilometer, test_size = 0.2, random_state=0)
print(X_train.size, X_test.size)

52 13

Visualisasi data

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(X_train, y_train, edgecolors='r')
plt.xlabel('Liter')
plt.ylabel('Kilometer')
plt.title('Konsumsi Bahan Bakar')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(X_train, y_train, edgecolors='r')
plt.xlabel('Liter')
plt.ylabel('Kilometer')
plt.title('Konsumsi Bahan Bakar')
x1 = np.linspace(0,45)
y1 = 4+7*x1
plt.plot(x1, y1)
plt.show()

Melatih model

In [ ]:
import sklearn.liner_model as lm
model1 = lm.LinearRegression()
model1.fit(X_train, y_train)

Nilai slope

In [ ]:
model1.coef_

Nilai intercept

In [ ]:
model1.intercept_

Jadi, nilai a = slope, nilai b = intercept

Grafik

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(X_train, y_train, edgecolors='r')
plt.xlabel('Liter')
plt.ylabel('Kilometer')
plt.title('Konsumsi Bahan Bakar')
x1 = np.linspace(0,45)
y1 = 10.64+6.46*x1
plt.plot(x1, y1)
plt.show()

R-square: menentukan seberapa dekat suatu data dengan garis lurus/garis prediktor.

R-squred= 1-(RSS/TSS)

RSS = Ressidual Sum of Squares (menjumlahkan kuadrat dari semua residual)
TSS = Total Sum of Squares (menjumlahkan kuadrat dari selisih angka prediksi dengan angka rata2)

Scoring model

In [ ]:
r2 = model1.score(X_test, y_test)
print(r2)

angka r2 mendekati 1, artinya model kita cukup bagus.

In [ ]:
jarak = model1.predict([[60]])
print(jarak)

In [ ]:
prediksi = model1.predict(X_test)
print(prediksi)
print(X_test)
#print(y_test)

```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()

''

In [ ]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

## Contoh 2:

In [ ]:
import pandas as pd
df2 = pd.read_csv('bensin2.csv')
df2

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

Kolerasi antar-data

In [ ]:
df2.corr(method='pearson')

              Liter  Penumpang    Bagasi  Kecepatan      Suhu  Kilometer
Liter      1.000000  -0.087997  0.097560   0.109370  0.079470   0.700815
Penumpang -0.087997   1.000000  0.081542   0.111942 -0.039954  -0.034175
Bagasi     0.097560   0.081542  1.000000   0.082096 -0.049363  -0.023318
Kecepatan  0.109370   0.111942  0.082096   1.000000 -0.009752   0.042819
Suhu       0.079470  -0.039954 -0.049363  -0.009752  1.000000   0.136657
Kilometer  0.700815  -0.034175 -0.023318   0.042819  0.136657   1.000000

Pemodelan

In [ ]:
import numpy as np
import sklearn.model_selection as ms
X = df2[['Liter', 'Penumpang', 'Suhu', 'Kecepatan']]
y = df2[['Kilometer']]
X_train, X_test, y_train, y_test = ms.train_test_split(liter, kilometer, test_size = 0.2, random_state=0)
model2.fit(X_train, y_train)

import sklearn.linear_model as lm
model2 = lm.LinearRegression()
model2.fit(X_train, y_train)

LinearRegression()

In [ ]:
print('intercept=', model2.intercept_)

intercept= [10.64122249]

In [ ]:
print('slope=', model2.coef_)

slope= [[6.45829591]]